*{
  box-sizing: border-box;
}


body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBPrXFTABllFITSqD_MLdcgOKPS0GTW7ju07D5wOjVbnME5ST_&s);
}
h1{
  background-image: linear-gradient(grey, black);
  color:white;
  font-size: 80px;
  text-align:center;
  font-family: 'Permanent Marker', cursive;
  border: solid 10px white;
  display: inline-block;
  padding-left:150px;
  padding-right:150px;
  margin-left:275px;
  margin-top:50px
}
nav{
  float:left;
  width:100px;
  border-right: solid 5px white;
  border-bottom: solid 5px white;
  border-top: solid 20px white;
  text-align:left;
  background-color:#000000;
  padding-top: 10px;
  padding-bottom:10px;
  position:static;
}
a{
  color:white;
  margin-left:10px;
  text-decoration:none;
}

h2{
  color:white;
  margin-left:30px;
  display:inline-block;
}
p{
  color:#D7CCC8;
  margin-left:130px;
}
.image1{
  display:inline-block;
  float: right;
  width:300px;
  border:solid 5px black;
}
.rouge{
  padding-bottom:70px;
  border-bottom: solid 1px white;
  border-right:solid 1px white;
  border-top:solid 20px white;
  width:1565px;
}
.image2{
  display:inline-block;
  float:right;
  width:300px;
  border:solid 5px black;
  margin-right:5px;
}
.bleu{
  display:inline-block;
  border:solid 5px white;
  width:1465px;
}
.image3{
  float:right;
  width:320px;
  display:inline-block;
  border:solid 4px black;
}
.image4{
  float:left;
  width:100px;
  border:solid 3px black;
  margin-top: 5px;
  margin-left: 5px;  
  display:inline-block;
}
.yellow{
  display:inline-block;
  border:solid 5px white;
  width:1565px;
}
.image5{
  float:right;
  display:inline-block;
  width:310px;
  border:solid 5px black;
}
.green{
  display:inloine-block;
  border: solid 5px white;
  width:1565px;
  padding-bottom:46px;
  
}
